#!/usr/bin/env bash

if command -v nix 2>/dev/null; then
	export NIXPKGS_ALLOW_UNFREE=1
	use flake "github:ppenguin/nixenvs#go-1_20" --impure
	if ping -c1 ryzerv >/dev/null 2>&1; then
		go env -w GOPROXY="http://ryzerv:3000,direct"
	fi
fi
